html {
height: 100%;
}

body{
  position: relative;
  margin: 0;
  min-height: 100%;
}

h1{
  padding-top: 20px;
}

.navbar {
    padding-left: 4%;
    background-color: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1rem;
  font-family: "Montserrat-Light";
  color: black;
}

.container-fluid {
    height: 100%
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 80px;
}

.footer {
  flex: 0 0 50px;
  margin-top: auto;
	text-align: center;
  position: absolute;
	bottom: 0;

	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 15px;
  padding-top: 5px;
	font-size: 12px;
  color: #fff;
}

/* Media Query Breakpoints */

@media (max-width: 1000px){

  .navbar-brand{
    font-size: 55px;
  }

  .nav-link{
    font-size: 40px;
  }

  .navbar-toggler-icon{
    font-size: 55px;
  }

  .container {
    font-size: 40px;
  }

  .footer p{
    font-size: 30px;
  }

}

